<p id="notice"><%= notice %></p>

<h1>Colorpalettes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colorpalettes.each do |colorpalette| %>
      <tr>
        <td><%= colorpalette.name %></td>
        <td><%= colorpalette.description %></td>
        <td><%= image_tag(colorpalette.picture_url, :width => 200) if colorpalette.picture.present? %></td>
        <td><%= link_to 'Show', colorpalette %></td>
        <td><%= link_to 'Edit', edit_colorpalette_path(colorpalette) %></td>
        <td><%= link_to 'Destroy', colorpalette, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colorpalette', new_colorpalette_path %>
